.container {
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
    color: #ddd6cb;
}

.input {
    padding: 0;
    margin: 0;
    width: 20%;
}

.header {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.headerText {
    flex: 1;
    max-width: 40rem;
}

.rental {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.carInfo {
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.3rem;
    display: inline-block;
}

.carInfo input {
    padding: 0;
    margin: 0;
    width: 155px;
    text-align: center;
}

.actions {
    padding: 1rem;
    text-align: right;
}

.fileUploadClass {
    padding: 1rem;
    text-align: center;
}

.fileUploadClass a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #ddd6cb;
    font-weight: bold;
    text-decoration: none;
}

.imageWrapper {
    position: relative;
    width: 30rem;
    height: 20rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.uploadOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.fileUploadClass a:hover,
.fileUploadClass a:active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

.h3upload h3 {
    text-align: center;
}

.actions a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #ddd6cb;
    font-weight: bold;
    text-decoration: none;
}

.actions a:hover,
.actions a:active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

.detailsSection {
    background-color: #2e2b2b;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

.details h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.carDescription {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #bbb;
}

.notFound {
    text-align: center;
    font-size: 2rem;
    color: #ff4c4c;
    font-weight: bold;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
