.car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(90deg, #131313, rgba(255, 255, 255, 0.1));
}

.headerText {
  padding: 0.5rem 1rem 0 1rem;
  color: #ddd6cb;
}

.headerText h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.headerText p {
  font-size: 0.75rem;
  color: #bbb;
  font-style: italic;
}

.car h2,
.car p {
  margin: 0;
}

.image {
  position: relative;
  height: 18rem;
}

.car img {
  object-fit: cover;
  height: 18rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-in 1s ease-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.summary {
  padding: 1rem 1rem 0 1rem;
  color: #bbb;
}

.actions {
  padding: 1rem;
  text-align: right;
}

.actions a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #ddd6cb;
  font-weight: bold;
  text-decoration: none;

}

.actions a:hover,
.actions a:active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
