
.header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 75rem;
}

.slideshow {
    width: 40rem;
    height: 25rem;
}

.hero {
    color: #ddd6cb;
    font-size: 1.5rem;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    background-clip: text;

}

.cta {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
}

.cta a {
    font-size: 1.2rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.3rem;
    display: inline-block;
}

.cta a:last-child:hover,
.cta a:last-child:active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

.cta a:first-child {
    background: transparent;
    font-weight: normal;
    padding-left: 0;
}

.cta a:first-child:hover,
.cta a:first-child:active {
    background: transparent;
    color: #ddd6cb;
}

.section {
    display: flex;
    flex-direction: column;
    color: #ddd6cb;
    font-size: 1.5rem;
    max-width: 50rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

.body {
    background-color: black;
}
